body {
    font-family: "Lato", sans-serif;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: #000000;
    height: 70px;
}

.navigation {
    display: flex;
    max-width: 1200px;
    gap: 20px;
    /* the gaps between navigation elements should be adjusted */
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.logo-img img {
    width: 151px;
}

.cart-img {
    width: 22px;
    height: 17px;
}

.user-img {
    width: 22px;
    height: 22px;
}

.navigation a {
    text-decoration: none;
}

.navigation input {
    width: 295px;
    height: 42px;
    color: #393939;
    border-radius: 21px;
    border: none;
    padding-left: 23px;
    font-weight: 700;
    line-height: 19px;
    font-size: 16px;
    letter-spacing: -0.88px;
}

.navigation button:nth-child(5) {
    background: #FF48AB;
    width: 102px;
    height: 42px;
    border-radius: 20px;
    border: none;
}

.navigation button:nth-child(5) a {
    color: #000000;
    font-weight: 900;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.88px;
    display: inline-block;
}

.navigation button:nth-child(6) {
    width: 156px;
    height: 42px;
    border: 1px solid #EE47A0;
    border-radius: 20px;
    background-color: #000000;
}

.navigation button:nth-child(6) a {
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.88px;
    color: #FFFFFF;
    font-weight: 900;
    display: inline-block;
}

.navigation span:nth-child(2) a,
.navigation span:nth-child(3) a {
    text-align: left;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: -0.77px;
    color: #D3D3D3;
    display: inline-block;
}

footer {
    background-color: #000000;
    height: 75px;
}

.footer-wrapper {
    display: flex;
    max-width: 1200px;
    gap: 20px;
    /* the gaps between navigation elements should be adjusted */
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.footer-wrapper span {
    text-align: left;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: -0.77px;
    color: #D3D3D3;
    display: inline-block;
}

.login-section,
.register-section,
.forgot-password-section,
.reset-password-section {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 402px;
}

.login-section h1,
.register-section h1,
.forgot-password-section h1,
.reset-password-section h1 {
    letter-spacing: -2.42px;
    color: #000000;
    font-size: 44px;
    font-weight: 700;
    line-height: 52px;
    margin: 0;
    margin-bottom: 64px;
}

.login-section .form-container,
.register-section .form-container,
.forgot-password-section .form-container,
.reset-password-section .form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login-email,
.login-password,
.register-section .form-container>div,
.forgot-password-section .form-container>div,
.reset-password-section .form-container>div {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 16px;
}

.login-section label,
.register-section label,
.forgot-password-section label,
.reset-password-section label,
.user-details label,
.password-inputs label {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.99px;
    color: #393939;
    display: inline-block;
}

.login-section input,
.register-section input,
.forgot-password-section input,
.reset-password-section input,
.user-details input,
.password-inputs input {
    width: 357px;
    height: 42px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 21px;
    display: inline-block;
    padding: 0;
    padding-left: 20px;
}

.login-password {
    margin-bottom: 33px;
}

.pink-button {
    width: 128px;
    height: 42px;
    background: #FF48AB;
    border-radius: 20px;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
    letter-spacing: -0.88px;
    color: #FFFFFF;
    border: none;
    margin-left: 104px;
    margin-bottom: 41px;
    display: inline-block;
}

.login-forgot-password a {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: -0.99px;
    color: #393939;
    display: inline-block;
}

.white-button {
    width: 357px;
    height: 42px;
    background: #FFFFFF;
    border: 2px solid #EF46AB;
    border-radius: 20px;
}

.white-button a {
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
    letter-spacing: -0.88px;
    color: #000000;
    text-decoration: none;
    display: inline-block;
}

.register-section {
    padding-bottom: 227px;
}

.register-section .pink-button {
    width: 357px;
    margin-left: 0;
    margin-top: 8px;
}

.forgot-password-section {
    padding-bottom: 498px;
}

.forgot-password-section .pink-button {
    width: 357px;
    margin-left: 0;
    margin-top: 35px;
    margin-bottom: 35px;
}

.forgot-password-section .form-container>div {
    margin-bottom: 0;
}

.reset-password-section .pink-button {
    width: 357px;
    margin-left: 0;
    margin-top: 50px;
    margin-bottom: 35px;
}

.reset-password-section .form-container>div:nth-child(2) {
    margin-bottom: 0;
}

.secondary-navigation {
    display: flex;
    gap: 21px;
}

.secondary-navigation span {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.99px;
    color: #393939;
}

.secondary-navigation span a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #393939;
}

.secondary-navigation .pink a {
    color: #FF48AB;
}


.profile-page {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 200px;
    /*TBC*/
    min-height: 90vh;
}

.profile-page .title-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 38px;
}

.profile-page h2 {
    font-weight: 700;
    font-size: 44px;
    line-height: 52px;
    letter-spacing: -2.42px;
    color: #000000;
    margin: 0;
}

.profile-page div:first-child .pink-button {
    margin: 0;
    margin-left: 40px;
    width: 144px;
}

.profile-page .pink-button a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #FFFFFF;
}

.profile-page .users-avatar {
    width: 72px;
    height: 72px;
}

.profile-page .list-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 2px solid lightgray;
}

.profile-page .list-user>div:first-child {
    display: flex;
    gap: 29px;
    align-items: center;
}

.profile-page .list-user button:first-child {
    margin-right: 19px;
    width: 128px;
    height: 42px;
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 20px;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.88px;
    color: #000000;
}

.profile-page .list-user button:nth-child(2) {
    width: 128px;
    height: 42px;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.88px;
    color: #FFFFFF;
    background: #000000;
    border-radius: 20px;
}

.profile-page .user-info p {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.99px;
    margin: 0;
    padding: 0;
}

.profile-page .user-info p:first-child {
    color: #393939;
}

.profile-page .user-info p:nth-child(2) {
    color: #A7A7A7;
}

.file-input-user,
.upload-input {
    display: none;
}

.profile-page .user-avatar {
    width: 96px;
    height: 96px;
}

.profile-page .upload-avatar-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    width: 128px;
}

.profile-page .upload-avatar-wrapper label {
    width: 128px;
    height: 42px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.88px;
    color: #FF48AB;
}

.profile-first-form {
    display: flex;
    gap: 39px;
    margin-bottom: 46px;
    margin-top: 64px;
}

.profile-first-form .user-details div {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.profile-page form button {
    width: 128px;
    height: 42px;
    background: #000000;
    border-radius: 20px;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.88px;
    color: #FFFFFF;
}

.profile-page .user-details {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.password-change-state {
    margin-top: 85px;
    display: flex;
    max-width: 520px;
    justify-content: space-between;
    align-items: center;
}

.password-change-state h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -1.32px;
    color: #000000;
    margin: 0;
}


.password-change-state button {
    width: 229px;
    margin: 0;
}

.password-inputs {
    display: flex;
    gap: 25px;
    margin-top: 29px;
    margin-bottom: 36px;
}

.password-inputs div {
    display: flex;
    flex-direction: column;
    gap: 12px
}

.password-inputs input {
    width: 228px;
    margin: 0
}

.modal-users-events {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 739px;
    height: 278px;
    background: #FFFFFF;
    box-shadow: 0px 20px 40px #00000029;
    border-radius: 30px;
}

.modal-users-events-wrapper {
    padding: 27px 40px 39px 45px;
}

.modal-users-events h4 {
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
    letter-spacing: -1.93px;
    color: #000000;
    margin: 0;
    margin-bottom: 28px;
}

.modal-users-events p {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.88px;
    color: #000000;
    margin: 0;
    margin-bottom: 81px;
}

.modal-users-events-buttons button:first-child {
    width: 128px;
    height: 42px;
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 20px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.88px;
    color: #000000;
}

.modal-users-events-confirm-button {
    width: 184px !important;
    height: 42px;
    background: #000000;
    border-radius: 20px;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.88px;
    color: #FFFFFF;
}

.modal-users-events-buttons {
    display: flex;
    justify-content: end;
}

.event-card {
    height: 153px;
    width: 573px;
    display: flex;
    gap: 18px;
}

.event-card .event-image {
    width: 259px;
    height: 153px;
    display: flex;
}

.event-card .event-image img {
    width: 259px;
    height: 100%;
    /*TBC */
    border-radius: 20px;
    object-fit: cover;
}

.event-card .event-info h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -1.32px;
    color: #000000;
    margin: 0;
}

.event-card .event-info h5 {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.99px;
    color: #FF48AB;
    margin: 0;
    margin-bottom: 5px;
}

.event-card .event-info p {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.77px;
    color: #393939;
    margin: 0;
    margin-bottom: 8px;
    padding-bottom: 5px;
}

.event-card .event-info div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.event-card .event-info span {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.77px;
    color: #393939;
    max-width: 150px;
}

.event-card .event-info button {
    width: 128px;
    height: 33px;
    background: #000000;
    border-radius: 20px;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.77px;
}

.event-card .event-info a {
    color: #FFFFFF;
    text-decoration: none;
}

.homepage-concerts>div,
.homepage-comedies>div {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.homepage-concerts h3,
.homepage-comedies h3 {
    font-weight: 700;
    font-size: 33px;
    line-height: 40px;
    letter-spacing: -1.81px;
    color: #000000;
    margin: 0;
    margin-bottom: 29px;
}

.homepage-concerts>button,
.homepage-comedies>button {
    width: 573px;
    height: 43px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 20px;
    text-align: center;
    font-weight: 900;
    font-size: 19px;
    line-height: 23px;
    letter-spacing: -1.04px;
    margin-top: 91px;
}

.homepage-events {
    display: flex;
    justify-content: space-between;
}

.homepage {
    max-width: 1200px;
    margin: auto;
    padding-bottom: 91px;
    padding-top: 50px;
}

.homepage-concerts>button a,
.homepage-comedies>button a {
    color: #000000;
    text-decoration: none;
}

.main-event button {
    width: 168px;
    height: 43px;
    background: #FFFFFF;
    border-radius: 20px;
    text-align: center;
    font-weight: 900;
    font-size: 19px;
    line-height: 23px;
    letter-spacing: -1.04px;
    color: #000000;
    margin-bottom: 50px;
    margin-right: 50px;
}

.main-event button a {
    color: #000000;
    text-decoration: none;
}

.main-event h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -2.2px;
    color: #FFFFFF;
    margin: 0;
}

.main-event-text p {
    font-size: 28px;
    line-height: 34px;
    letter-spacing: -1.54px;
    color: #FFFFFF;
    opacity: 0.7;
    /*correction in visibility */
}

.main-event img {
    width: 100%;
    height: 464px;
    border-radius: 30px;
    position: relative;
    z-index: 0;
    object-fit: cover;
}

.main-event-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    z-index: 3;
}

.main-event {
    position: relative;
    margin-bottom: 50px;
}

.main-event-text {
    padding-left: 50px;
    padding-bottom: 50px;
}

.events-page .all-events {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 54px;
}

.events-page>button {
    width: 1200px;
    height: 43px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 20px;
    text-align: center;
    font-weight: 900;
    font-size: 19px;
    line-height: 23px;
    letter-spacing: -1.04px;
    color: #000000;
    margin-top: 91px;
}

.events-page h1 {
    font-weight: 700;
    font-size: 44px;
    line-height: 52px;
    letter-spacing: -2.42px;
    color: #000000;
    margin: 0;
    margin-bottom: 38px;
}

.events-page {
    max-width: 1200px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 91px;
}

/* button a {
    width: 100%;
    height: 100%;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.search-results {
    max-width: 1200px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 155px;
    display: flex;
    flex-direction: column;
    gap: 38px;
}

.search-results h1 {
    font-weight: 700;
    font-size: 44px;
    line-height: 52px;
    letter-spacing: -2.42px;
    color: #000000;
    margin-bottom: 0;
}

.search-results .event-card {
    width: 1200px;
    position: relative;
}

.search-result-inner {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.search-result-inner>div p {
    max-width: 683px;
}


.search-results .event-card button {
    position: absolute;
    right: 10px
}

.search-results .event-card h4 {
    font-weight: 700;
    font-size: 37px;
    line-height: 45px;
    font: normal normal bold 37px/45px Lato;
    letter-spacing: -2.04px;
    color: #000000;
}

.event-page {
    max-width: 1200px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 165px;
}

.event-main-details {
    display: flex;
    align-items: end;
    margin-bottom: 30px;
}


.event-main-details h1 {
    font-weight: 700;
    font-size: 44px;
    line-height: 52px;
    letter-spacing: -2.42px;
    color: #000000;
    margin: 0;
    margin-right: 19px;
}

.event-main-details span {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -1.21px;
    color: #393939;
    margin-right: 13px;
}

.event-details img {
    width: 576px;
    height: 340px;
    border-radius: 20px;
}

.event-details {
    display: flex;
    gap: 31px;
}

.event-about {
    max-width: 593px;
}

.event-about-tickets {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.event-about h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -1.32px;
    color: #000000;
    margin: 0;
    margin-bottom: 21px;
}

.event-about p {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.77px;
    color: #393939;
}

.event-tickets {
    margin-bottom: 40px;
}

.tickets-price span {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -1.32px;
}

.tickets-price span:first-child {
    color: #000000;
    margin-right: 15px;
}

.tickets-price span:nth-child(2) {
    color: #FF48AB;
}

.tickets-price {
    margin-bottom: 18px;
}

.tickets-cart input {
    width: 83px;
    height: 33px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.77px;
    color: #393939;
    text-align: center;
    margin-right: 15px;
}

.tickets-cart button {
    width: 128px;
    height: 33px;
    background: #000000;
    border-radius: 20px;
    color: #FFFFFF;
}

.tickets-cart button a {
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.77px;
    color: #FFFFFF;
}

.related-events {
    margin-top: 49px;
}

.related-events>h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -1.32px;
    color: #000000;
}

.related-events>div {
    display: flex;
    flex-wrap: wrap;
    gap: 54px;
}

.search-results .event-info>div>span {
    max-width: none;
}

.search-results .event-info {
    display: flex;
    flex-direction: column;
}

.search-results .event-info h5 {
    order: 2;
}

.search-results .event-info>div {
    order: 3
}

.new-event-page {
    max-width: 1200px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 102px;
}

.new-event-page .title-nav {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 39px;
}

.new-event-page h2 {
    margin: 0;
    font-weight: 700;
    font-size: 44px;
    line-height: 52px;
    letter-spacing: -2.42px;
    color: #000000;
}

.form-first-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 31px;
}

.form-first-group>span {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 23%;
}

.form-first-group label {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.99px;
    color: #393939;
}

.form-first-group input,
.form-first-group select {
    height: 42px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 21px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.77px;
    color: #000000;
    padding-left: 22px;
}

.form-second-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.form-second-group>div {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.form-second-group>div:first-child label {
    width: 357px;
    height: 42px;
    background: #000000;
    border-radius: 20px;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.88px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-second-group>div:first-child img {
    width: 357px;
    height: 211px;
    border-radius: 18px;
    object-fit: cover;
}

.form-second-group>div:nth-child(2)>span {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form-second-group>div:nth-child(2) label {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.99px;
    color: #393939;
}


.form-second-group>div:nth-child(2) textarea {
    width: 750px;
    height: 141px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 21px;
    padding: 14px 18px 18px 19px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.77px;
    color: #393939;
    box-sizing: border-box;
}

.form-second-group>div:nth-child(2) input {
    width: 357px;
    height: 42px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 21px;
    padding: 0 21px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.77px;
    color: #000000;
}

.form-third-group {
    position: relative;
    margin-bottom: 44px;
    height: 76px;
    width: 635px;
}

.form-third-group h5 {
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.99px;
    color: #393939;
    margin-bottom: 12px;
}

.form-third-group select {
    width: 500px;
    min-height: 42px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 21px;
    padding: 12px 22px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.77px;
    color: #000000;
    margin-right: 19px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.form-third-group button {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 116px;
    height: 42px;
    background: #000000;
    border-radius: 20px;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.88px;
    color: #FFFFFF;
}

.form-fourth-group {
    display: flex;
    flex-wrap: wrap;
    gap: 31px;
    margin-bottom: 102px;
}

.submit-event {
    width: 116px;
    height: 42px;
    background: #000000;
    border-radius: 20px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.88px;
    color: #FFFFFF;
    position: relative;
    left: 100%;
    transform: translateX(-100%);
}

.submit-event:active {
    transition: all ease-out 0.3s;
}

.related-event-card {
    height: 153px;
    position: relative;
}

.related-event-card .event-card {
    width: 360px;
    justify-content: space-between;
}


.related-event-card h4 {
    font-size: 22px;
}

.related-event-card .event-image {
    width: 200px;
}

.related-event-card img {
    object-fit: cover;
    max-width: 100%;
}

.related-event-card p,
.related-event-card .get-tickets-btn {
    display: none;
}

.remove-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 128px;
    height: 33px;
    background: #000000;
    border-radius: 20px;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.77px;
    color: #FFFFFF;
}

.delete-btn {
    color: white;
}

.events-wrapper {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.profile-page {
    overflow-y: scroll;
}

.profile-page a {
    color: black
}

.event-info h4 a {
    color: black !important
}

.delete-event-message {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #FF48AB;
    color: white;
    width: 100%;
    text-align: center;
    line-height: 24px;
    font-size: 18px;
}

.delete-event-loading {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #858484ff;
    color: white;
    width: 100%;
    text-align: center;
    line-height: 24px;
    font-size: 18px;

}

.cart-state-num {
    position: absolute;
    top: -10px;
    left: 14px;
    background-color: #f70085;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 12px;
    font-weight: 700;
    color: #FFFFFF;
}

.modal-users-events-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(178, 177, 177, 0.278);
}