.root {
    font-family: "Lato", sans-serif;
    margin: 0;
    box-sizing: border-box;
}

.pink-button {
    width: 128px;
    height: 42px;
    background: #FF48AB;
    border-radius: 20px;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
    letter-spacing: -0.88px;
    color: #FFFFFF;
    border: none;
    margin-left: 104px;
    margin-bottom: 41px;
    display: inline-block;
}

.white-button {
    width: 357px;
    height: 42px;
    background: #FFFFFF;
    border: 2px solid #EF46AB;
    border-radius: 20px;
}

.white-button a {
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
    letter-spacing: -0.88px;
    color: #000000;
    text-decoration: none;
    display: inline-block;
}

.delete-btn {
    color: white;
}

.events-wrapper {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.profile-page {
    overflow-y: scroll;
}

.profile-page a {
    color: black
}

.event-info h4 a {
    color: black !important
}

.delete-event-message {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #FF48AB;
    color: white;
    width: 100%;
    text-align: center;
    line-height: 24px;
    font-size: 18px;
}

.delete-event-loading {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #858484ff;
    color: white;
    width: 100%;
    text-align: center;
    line-height: 24px;
    font-size: 18px;

}

.modal-users-events-background,
.modal-tickets-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(178, 177, 177, 0);
}

@keyframes blink {

    0%,
    100% {
        background-color: rgba(178, 177, 177, 0.278);
    }

    50% {
        background-color: rgba(108, 100, 100, 0.53);/
    }
}

.blinking-effect {
    animation: blink 0.5s linear 1;
}

.validation-message {
    height: 16px;
    color: red;
    font-size: 14px;
    bottom: 10px;
    position: relative;
}

.validation-message-empty {
    height: 16px;
    bottom: 10px;
    position: relative;
}

.invalid-mark,
.valid-mark {
    position: relative;
    right: 20px;
}