/**/
.title-nav-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-nav-inner button a {
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 2.2;
}

.events-wrapper {
    margin-top: 50px;
    max-width: 1200px;
}

.events-wrapper .event-card {
    width: 100%;
    gap: 20px;
    position: relative;
    padding-bottom: 17px;
    border-bottom: 1px solid #D8D8D8;
    height: 88px;
}

.events-wrapper .event-card button {
    position: absolute;
    right: 25px;
    bottom: 40px;
    height: 42px;
}

.events-wrapper .event-card h5 {
    display: inline;
}

.events-wrapper .event-card .event-info>div {
    display: inline;
    margin-left: 8px;
}

.events-wrapper .event-card h4 {
    margin-bottom: 7px;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -1.21px;
    color: #393939;
}

.events-wrapper .event-card .event-info {
    margin-top: auto;
    margin-bottom: 21px;
}

.events-wrapper .event-card img {
    width: 149px;
    height: 88px;
}

.events-wrapper .event-card .event-image {
    width: auto;
}

.events-wrapper .event-card .event-info span {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.99px;
}

.events-wrapper .modal-users-events-buttons button {
    margin-left: 19px;
}

.delete-fail,
.delete-success {
    text-align: center;
    position: relative;
}

.delete-success button {
    margin-top: 100px;
    margin-right: 20px;
}

.delete-fail button {
    margin-top: 70px;
    margin-right: 100px;
}

.delete-fail h3 {
    font-size: 20px
}

.delete-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}