.event-card {
    height: 153px;
    width: 573px;
    display: flex;
    gap: 18px;
}

/*1*/
.event-card .event-image {
    width: 259px;
    height: 153px;
    display: flex;
}

.event-card .event-image img {
    width: 259px;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

/*2*/
.event-card .event-info h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -1.32px;
    color: #000000;
    margin: 0;
}

.event-card .event-info h5 {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.99px;
    color: #FF48AB;
    margin: 0;
    margin-bottom: 5px;
}

.event-card .event-info p {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.77px;
    color: #393939;
    margin: 0;
    margin-bottom: 8px;
    padding-bottom: 5px;
}

.event-card .event-info div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.event-card .event-info span {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.77px;
    color: #393939;
    max-width: 150px;
}

.event-card .event-info button {
    width: 128px;
    height: 33px;
    background: #000000;
    border-radius: 20px;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.77px;
}

.event-card .event-info a {
    color: #FFFFFF;
    text-decoration: none;
}

.get-tickets-btn a {
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 2;
}