.not-found-page {
    max-width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    background-color: #d3d3d3;
    padding-top: 200px;
}

.not-found-page h1 {
    font-size: 54px;
    color: #FF48AB;
    font-weight: 700;
    margin: 0;
}

.not-found-page h2 {
    font-size: 40px;
    color: #000000;
    margin: 0;
}

.not-found-page button {
    margin: 0;
    margin-top: 70px;
    width: 170px;
}