.profile-page {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 200px;
    min-height: 90vh;
}

.profile-page .title-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 38px;
}

.profile-page h2 {
    font-weight: 700;
    font-size: 44px;
    line-height: 52px;
    letter-spacing: -2.42px;
    color: #000000;
    margin: 0;
}

.profile-page div:first-child .pink-button {
    margin: 0;
    margin-left: 40px;
    width: 144px;
}

.profile-page .pink-button a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #FFFFFF;
}

.profile-page .users-avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
}

.profile-page .list-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 2px solid lightgray;
}

.profile-page .list-user>div:first-child {
    display: flex;
    gap: 29px;
    align-items: center;
}

.profile-page .list-user button:first-child {
    margin-right: 19px;
    width: 128px;
    height: 42px;
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 20px;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.88px;
    color: #000000;
}

.profile-page .list-user button:nth-child(2) {
    width: 128px;
    height: 42px;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.88px;
    color: #FFFFFF;
    background: #000000;
    border-radius: 20px;
}

.profile-page .user-info p {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.99px;
    margin: 0;
    padding: 0;
}

.profile-page .user-info p:first-child {
    color: #393939;
}

.profile-page .user-info p:nth-child(2) {
    color: #A7A7A7;
}

.file-input-user,
.upload-input {
    display: none;
}

.profile-page .user-avatar {
    width: 96px;
    height: 96px;
}

.profile-page .upload-avatar-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    width: 128px;
}

.profile-page .upload-avatar-wrapper label {
    width: 128px;
    height: 42px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.88px;
    color: #FF48AB;
}

.profile-first-form {
    display: flex;
    gap: 39px;
    margin-bottom: 46px;
    margin-top: 64px;
}

.profile-first-form .user-details div {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.profile-page form button {
    width: 128px;
    height: 42px;
    background: #000000;
    border-radius: 20px;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.88px;
    color: #FFFFFF;
}

.profile-page .user-details {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.password-user-input {
    flex-direction: row !important;
    margin-bottom: 15px;
    margin-top: 10px;
    gap: 0px !important;
    justify-content: space-between;
}

.password-user-input .valid-mark,
.password-user-input .invalid-mark {
    top: 7px;
    right: 35px;
    width: 15px;
}

.password-user-input input {
    width: 250px;
}

.password-user-input .invalid-mark {
    padding-left: 1px;
}

.upload-avatar-wrapper {
    position: relative;
    height: 301px;
    gap: 20px !important
}

.upload-avatar-wrapper img {
    border-radius: 50%;
    object-fit: cover;
}

.upload-avatar-wrapper .validation-message {
    bottom: 0 !important
}

.user-details-submit-error,
.user-details-submit-message {
    position: absolute;
    top: 0px;
    background-color: #de4c4c;
    color: #ffffff;
    font-size: 18px;
    margin: 0;
    display: flex;
    align-items: center;
    font-weight: 500;
    padding: 10px 20px;
    box-shadow: inset 0 0 6px white;
    border-radius: 10px
}

.user-details-submit-message {
    background-color: #55d291;
    top: 60%;
    right: 25%;
}