/* Header */
header {
    background-color: #000000;
    height: 70px;
}

/* Header-Nav */
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.navigation input {
    width: 295px;
    height: 42px;
    border-radius: 21px;
    color: #393939;
    border: none;
    padding-left: 23px;
    font-weight: 700;
    line-height: 22px;
    font-size: 18px;
    letter-spacing: -0.99px;
    box-sizing: border-box;
}

.navigation button a {
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 2.2 !important;
}

.navigation button:nth-child(5) {
    background: #FF48AB;
    width: 102px;
    height: 42px;
    border-radius: 20px;
    border: none;
}

.navigation button:nth-child(5) a {
    color: #000000;
    font-weight: 900;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.88px;
    display: inline-block;
}

.navigation button:nth-child(6) {
    width: 156px;
    height: 42px;
    border: 1px solid #EE47A0;
    border-radius: 20px;
    background-color: #000000;
}

.navigation button:nth-child(6) a {
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.88px;
    color: #FFFFFF;
    font-weight: 900;
    display: inline-block;
}

.navigation span:nth-child(2) a,
.navigation span:nth-child(3) a {
    text-align: left;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: -0.77px;
    color: #D3D3D3;
    display: inline-block;
}


.cart-img {
    width: 22px;
    height: 17px;
}

.user-img {
    width: 22px;
    height: 22px;
}

.cart-state-num {
    position: absolute;
    top: -10px;
    left: 14px;
    background-color: #f70085;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 12px;
    font-weight: 700;
    color: #FFFFFF;
}

/* Main */

main {
    min-height: 100vh;
}

/* Footer */

footer {
    background-color: #000000;
    height: 75px;
}

.footer-wrapper {
    display: flex;
    max-width: 1200px;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.footer-wrapper span {
    text-align: left;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: -0.77px;
    color: #D3D3D3;
    display: inline-block;
}

/* General */

.logo-img img {
    width: 151px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}