.secondary-navigation span {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.99px;
    color: #393939;
}

.secondary-navigation span a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #393939;
}

.secondary-navigation .pink a {
    color: #FF48AB;
}


.secondary-navigation {
    display: flex;
    gap: 21px;
    cursor: pointer;
}

.secondary-nav input {
    width: 295px;
    height: 42px;
    border-radius: 21px;
    color: #393939;
    border: 1px solid rgb(150, 147, 147);
    padding-left: 23px;
    font-weight: 700;
    line-height: 22px;
    font-size: 18px;
    letter-spacing: -0.99px;
    box-sizing: border-box;
}