.shopping-cart {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    height: 100vh;
}

.shopping-cart h1 {
    font: normal normal bold 44px/52px Lato;
    letter-spacing: -2.42px;
    margin-bottom: 53px;
    margin-top: 0;
}

.shopping-cart .cart-tickets {
    display: flex;
    flex-direction: column;
    gap: 20px
}

.shopping-cart .event-card {
    width: 1200px;
    position: relative;
    align-items: center;
    padding-bottom: 41.5px;
    border-bottom: 1px solid #D8D8D8;
    height: 116px;
    gap: 47px
}

.shopping-cart .event-card button {
    position: absolute;
    right: 0px;
    bottom: 49.5px;
}

.shopping-cart .event-card .event-info span {
    max-width: none;
}

.shopping-cart .event-card img {
    width: 196px;
    height: 116px;
}

.shopping-cart .event-card .event-image {
    height: 116px;
    width: 196px;
}

.shopping-cart .event-card-wrapper {
    position: relative;
}

.shopping-cart .event-card-wrapper .total-price {
    position: absolute;
    top: 10px;
    right: 0;
    text-align: right;
}

.shopping-cart .total-price span:first-child {
    font: normal normal bold 24px/29px Lato;
    letter-spacing: -1.32px;
    color: #000000;
}

.shopping-cart .total-price span:nth-child(2) {
    font: normal normal bold 18px/22px Lato;
    letter-spacing: -0.99px;
    color: #FF48AB;
}

.shopping-cart {
    position: relative;
}

.shopping-cart .card-buttons {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 1200px;
}

.shopping-cart .card-buttons button:first-child {
    background-color: #000000 !important;
}

.shopping-cart .card-buttons button {
    margin: 0 !important;
    width: 229px !important;
}

.empty-card-text {
    font: normal normal bold 24px/29px Lato;
    letter-spacing: -1.32px;
    color: #969696;
    margin-top: 100px;
}