.unauthorized-page {
    max-width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background-color: #d3d3d3;
    padding-top: 150px;
}

.unauthorized-page h1 {
    font-size: 58px;
    color: #FF48AB;
    font-weight: 900;
    letter-spacing: 1.2px;
    margin: 0;
}

.unauthorized-page h2 {
    font-size: 40px;
    font-weight: 800;
    margin: 0;
    margin-top: 100px;
}